html
    head
    body
        ul
            li
                a(href="/") Home
            li
                a(href="/things") Things

            
        .container
        
            .well Welcome to My World