html
    head
        link(rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.css")
        script(src="/vendor/angular/angular.js")
        script(src="/app/app.js")
        script(src="/vendor/angular-route/angular-route.js")
    body(ng-app="myWorld")
        ul.nav.nav-tabs
            li
                a(href="/#/") Home
            li
                a(href="/#/things") Things
            li  
                a(href="/#/people") People

            
        .container
            // Double braces creates an angular expression
            // to use, add the ng-app to body first
            // angular manipulates the dom
            // for sanity check you can add {{ 5 * 5 }}  to page and see if it loads as 25
            .well Welcome to My World {{ 5 * 5 }} 

            //depending what the route is i will load different things in the view
            // in express, we configured our routes on the server side. app.get/things etc
            // we'll do this on the client side with angular-route
            div(ng-view)